include ../mixins/top-button
- var relatedItems = locals.getAllRelatedItems(locals.data.chapters);
- var pages = Math.ceil(relatedItems.length/10)
.bg
.archive
  .filters-container
    +topButton
    h1.text-uppercase=locals.data.mediaArchiveTitle
    .filters-position
      .filters
        .dropdown.pull-left
          a.dropdown-menu-btn.btn.text-uppercase
            span.glyphicon.arrow-down-icon
            span #{locals.data.filterButtonLabel} &nbsp;
          span.current-filters
          .dropdown-menu.filters-list.multiple
            .filter-categories
              each menu in [1,2,3]
                .filter-category
                  h3 FILTER CATEGORY #{menu}
                  ul
                    each item in [1,2,3,4,5,6,7,8]
                      li
                        a
                          span.glyphicon.check-icon
                          span FILTER NAME
            a.btn.apply-filter-btn=locals.data.applyFiltersButtonLabel
        .dropdown.sort.pull-right
          a.dropdown-menu-btn.btn.text-uppercase
            span.glyphicon.arrow-down-icon
            span #{locals.data.shortButtonLabel} &nbsp;
          a.current-sort.text-uppercase.btn-border VIDEO TITLE (ASC)
          ul.dropdown-menu.sort-list
            li
              a(class='selected' data-sort="ASC" )
                span.glyphicon.check-icon
                span VIDEO TITLE (ASC)
            li
              a(data-sort="DESC")
                span.glyphicon.check-icon
                span VIDEO TITLE (DESC)
  .archive-videos-container
    .related-videos-container.page1
      a.btn.previous
        span.glyphicon.previous-icon
      .related-videos-mask
        ul.related-videos
          each item,index in relatedItems
            li
              a(title=item.title data-index=index data-location=item.filters.location data-chapter=item.filters.chapter data-type=item.filters.type)
                .img(style="background-image: url(#{item.thumbnail || 'assets/images/thumbnail.jpg'})")
                .info #{item.title}
      a.btn.next
        span.glyphicon.next-icon
  .pagination-container
    .pagination-text
      //span.glyphicon.previous-small-icon
      span.text #{locals.data.pageLabel}&nbsp; <span class="page-number">1</span>&nbsp; #{locals.data.ofLabel}&nbsp; <span class="total-pages">#{pages}</span>
      //span.glyphicon.next-small-icon
