footer
  a.btn.btn-footer.btn-home=locals.data.homeButtonLabel
  .footer-description
    .social
      a.glyphicon.facebook-icon
      a.glyphicon.twitter-icon
    span.copyright
      span.glyphicon.logo-small-icon
      span #{locals.data.title} &nbsp;
      span.footer-menu
        a #{locals.data.termsButtonLabel} &nbsp;
        a #{locals.data.privacyButtonLabel} &nbsp;
        a #{locals.data.creditsButtonLabel} &nbsp;
  a.btn.btn-footer.btn-library=locals.data.libraryButtonLabel
script(type="text/javascript", src="assets/js/main.js" async)
